// header img {
//     height: 100px;
// }
.medium-6 {
    width: 50%;
    text-align: center;
}

.medium-4 {
    width: 33.3333%;
    text-align: center;
}

#hamburgerBtn {
    display: none;
}

nav ul {
    display: block;
}

nav li {
    width: 25%;
    float: left;
}

.detail-image {
    text-align: right;
}

.detail-text {
    text-align: left;
}

// #trailer {
//     height: 500px;
//     width: 800px;
// }